.form {
    &-label_prefix-icon {
        position: relative;
    }

    &-control {
        &-icon {
            position: absolute;
            top: .25rem;
            left: .125rem;
            transform: translate(50%, 50%);
            line-height: 1;
        }

        &_prefix-icon {
            padding-left: 2rem;
        }
    }
}
