@import '../../../../resources/scss/utils/colors';

@import 'components/table';

@import 'components/req-table';
@import 'components/login-form';

@import 'bs-override/button';





/** ==================================================
 * Main */

body {
    color: $color-dark;
}

*:focus {
    box-shadow: none !important;
    border-color: $color-border !important;
}

::selection {
    color: $color-white;
    //
    background-color: $color-dark;
}



/** ==================================================
 * Site wrapper */

.site-wrapper {
    width: 100%;
    height: 100vh;
    //
    overflow: auto;
}



/** ==================================================
 * Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    //
    display: flex;
    flex-direction: column;
    //
    height: 100%;
    //
    background: $color-primary;

    &__title {
        color: $color-dark;
    }
}

.sb-nav {
    &__link {
        font-size: 1.1rem;
        color: lighten($color: $color-dark, $amount: 10%);

        &:hover {
            color: darken($color: $color-dark, $amount: 50%);
        }
    }
}



/** ==================================================
 * Forms */

form.disabled {
    opacity: .5;
    //
    pointer-events: none;
}

.form-alert__message-block {
    & + & {
        margin-top: .5rem;
    }
}
