/** ==================================================
 * Site wrapper */

 .site-wrapper {
    width: 100%;
    height: 100vh;
    //
    overflow: auto;
}



/** ==================================================
 * Support classes */

.border-c-light {
    border-color: $color-border !important;
}

.cursor-pointer {
    cursor: pointer;
}

.no-resize {
    resize: none;
}
